<br>
<div id="zoo-index">
  <div class="row large-6 columns">
  <ul>
    <% @zoos.each do |zoo| %>
    <li>
      <%= link_to zoo.name, zoo_path(zoo) %>
    </li>
    <% end %>
  </ul>
</div>
</div>
<br><br>
