@import "foundation_and_overrides";
@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);
/* Add imports of custom sass/scss files here */
ul {
  list-style: none;
}

.zoo-info {
  margin-left: 20px;
}

.menu-text {
  font-family: 'Shadows Into Light', cursive;
  font-size: 36px;
  padding-bottom: 1px;
  padding-top: 1px;
}
