@import "foundation_and_overrides";
@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);
@import "font-awesome";
/* Add imports of custom sass/scss files here */
ul {
  list-style: none;
}

html {
  background-image: image-url("giraffe.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.zoo {
  opacity: 0.75;
  font-weight: bold;
}

.menu-text {
  font-family: 'Shadows Into Light', cursive;
  font-size: 36px;
  padding-bottom: 1px;
  padding-top: 1px;
}

.nav-buttons {
  color: black;
  font-weight: bold;
  font-size: 24px;
  font-family: 'Shadows Into Light', cursive;
}

.top-bar {
  padding-top: 7px;
  padding-bottom: 2px;
}

h3 {
  font-family: 'Shadows Into Light', cursive;
  font-weight: bold;
  text-align: center;
}

.full-width {
  max-width: 100%;
}

$text-color: #fff;

// footer CSS

.footer {
  background-color: $light-gray;
  color: $text-color;
  text-align: center;
  margin-bottom: 0;
  margin-top: 10px;
  position: fixed;
    bottom: 0px;
    width: 100%;
    height: 40px;
  i {
    font-size: 100px;
  }
  h4 {
    color: $text-color;
    font-family: 'Shadows Into Light', cursive;
    font-size: 1em;
    font-weight: bold;
    padding-top: .5em;
  }
}

@media only screen and (min-width: 40.063em) {
.footer {
  .columns:nth-child(n+2) {
    border-left: 1px solid scale-color($text-color, $lightness: -30%);
    min-height: 10px;
  }
 }
}

.footer-links {
  list-style-type: none;
  li {
    margin-top: .5em;
  }
}

.zoo-name {
  text-align: left;
  margin-top: 5px;
}

.zoo-info {
  background-color: #E8E8E8;
  margin-left: 0px;
  padding-bottom: 15px;
  padding-top: 10px;
}

#zoo-index {
  text-align: center;
}

span {
  color: #82837E;
  font-style: italic;
}
